<h2><span>axis binding</span><span>[<ng-content></ng-content>]</span></h2>
<div class="binding">
    <mat-form-field>
        <mat-label>Device</mat-label>
        <mat-select [(ngModel)]="value.deviceId" (ngModelChange)="valueChanged()" (opened)="t()">
            <mat-option></mat-option>
            <mat-option *ngFor="let d of vjoy.vjoyInfo?.details" [value]="d.id">{{d.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Axis</mat-label>
        <mat-select [(ngModel)]="value.axis" (ngModelChange)="valueChanged()" (opened)="t()"
            [disabled]="!value.deviceId">
            <mat-option></mat-option>
            <mat-option *ngFor="let b of vjoy.vjoyInfo?.map[value.deviceId]?.axes" [value]="b">Axis {{Axis[b]}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Range</mat-label>
        <mat-select [(ngModel)]="value.type" (ngModelChange)="valueChanged()" (opened)="t()"
            [disabled]="!value.deviceId">
            <mat-option [value]="Type.Axis0to100">0~100</mat-option>
            <mat-option [value]="Type.Axis50to100">50~100</mat-option>
            <mat-option [value]="Type.Axis50to0">50~0 (reverse)</mat-option>
            <mat-option [value]="Type.Axis100to0">100~0 (reverse)</mat-option>
        </mat-select>
    </mat-form-field>
</div>