<svg viewBox="0 0 1000 1000" (touchstart)="start($event)" (mousedown)="start($event)">
    <defs>
        <filter id="neon-primary">
            <feFlood flood-color="#64dd17" flood-opacity="0.2" in="SourceGraphic" />
            <feComposite operator="in" in2="SourceGraphic" />
            <feGaussianBlur stdDeviation="3" />
            <feComponentTransfer result="glow1">
                <feFuncA type="linear" slope="4" intercept="0" />
            </feComponentTransfer>
            <feMerge>
                <feMergeNode in="glow1" />
                <feMergeNode in="SourceGraphic" />
            </feMerge>
        </filter>
        <filter id="neon-accent">
            <feFlood flood-color="#ff9100" flood-opacity="0.2" in="SourceGraphic" />
            <feComposite operator="in" in2="SourceGraphic" />
            <feGaussianBlur stdDeviation="3" />
            <feComponentTransfer result="glow1">
                <feFuncA type="linear" slope="4" intercept="0" />
            </feComponentTransfer>
            <feMerge>
                <feMergeNode in="glow1" />
                <feMergeNode in="SourceGraphic" />
            </feMerge>
        </filter>
        <filter id="neon-warn">
            <feFlood flood-color="#f44336" flood-opacity="0.2" in="SourceGraphic" />
            <feComposite operator="in" in2="SourceGraphic" />
            <feGaussianBlur stdDeviation="3" />
            <feComponentTransfer result="glow1">
                <feFuncA type="linear" slope="4" intercept="0" />
            </feComponentTransfer>
            <feMerge>
                <feMergeNode in="glow1" />
                <feMergeNode in="SourceGraphic" />
            </feMerge>
        </filter>
        <radialGradient id="grad-primary" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
            <stop offset="0%" style="stop-color:#64dd17;
            stop-opacity:0.4" />
            <stop offset="100%" style="stop-color:#64dd17;stop-opacity:0" />
        </radialGradient>
        <radialGradient id="grad-warn" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
            <stop offset="0%" style="stop-color:#f44336;
            stop-opacity:0.4" />
            <stop offset="100%" style="stop-color:#f44336;stop-opacity:0" />
        </radialGradient>
        <radialGradient id="grad-accent" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
            <stop offset="0%" style="stop-color:#ff9100;
            stop-opacity:0.5" />
            <stop offset="100%" style="stop-color:#ff9100;stop-opacity:0" />
        </radialGradient>
    </defs>
    <g>
        <rect [class.press]="press" [attr.color]="setting.color" x="50" y="50" width="900" height="900" rx="25"
            class="border">
        </rect>
        <ng-container *ngIf="!setting.text2">
            <text [class.press]="press" [attr.color]="setting.color" x="500" y="500" alignment-baseline="middle"
                letter-spacing="20" font-size="250" text-anchor="middle">{{setting.text}}</text>
            <ellipse [class.press]="press" [attr.color]="setting.color" cx="500" cy="500" [attr.rx]="press?400:500"
                [attr.ry]="press?350:450" class="cap">
            </ellipse>
        </ng-container>
        <ng-container *ngIf="setting.text2">
            <text [class.press]="press" [attr.color]="setting.color" x="500" y="350" alignment-baseline="middle"
                letter-spacing="20" font-size="250" text-anchor="middle">{{setting.text}}</text>
            <text [class.press]="press" [attr.color]="setting.color" x="500" y="700" alignment-baseline="middle"
                letter-spacing="20" font-size="250" text-anchor="middle">{{setting.text2}}</text>
            <ellipse [class.press]="press" [attr.color]="setting.color" cx="500" cy="350" [attr.rx]="press?400:500"
                [attr.ry]="press?250:350" class="cap">
            </ellipse>
            <ellipse [class.press]="press" [attr.color]="setting.color" cx="500" cy="700" [attr.rx]="press?400:500"
                [attr.ry]="press?250:350" class="cap">
            </ellipse>
        </ng-container>

    </g>

</svg>