:host {
    user-select: none;
    display: flex;
    flex: 1 1 auto;
    position: relative;
    @mixin color() {
        stroke: var(--primary);
        &[color="accent"] {
            stroke: var(--accent);
        }
        &[color="warn"] {
            stroke: var(--warn);
        }
    }
    @mixin filter() {
        filter: url(#neon-primary);
        &[color="accent"] {
            filter: url(#neon-accent);
        }
        &[color="warn"] {
            filter: url(#neon-warn);
        }
    }
    @mixin fill() {
        fill: var(--primary);
        &[color="accent"] {
            fill: var(--accent);
        }
        &[color="warn"] {
            fill: var(--warn);
        }
    }
    svg {
        pointer-events: visibleFill;
        flex: 1 1 auto;
        .color {
            @include color();
        }
        .vl {
            stroke-width: 4;
            opacity: 0.7;
            @include fill();
        }
        .hl {
            stroke-width: 2;
            opacity: 0.7;
        }
        .r {
            writing-mode: vertical-lr;
            transform-origin: center;
            stroke-width: 3;
            opacity: 0.9;
            @include filter();
            @include fill();
        }
        .value {
            @include filter();
            @include fill();
        }
        .p {
            @include filter();
            @include fill();
        }
        rect {
            fill: transparent;
            @include filter();
        }
    }
}
